In [3]:
import pandas as pd
import numpy as np  # Import numpy directly

# Example DataFrame with sample data
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [2, 4, 6, 8, 10],
    'C': [1, 2, 1, 2, 1],
    'D': [10, 9, 4, 5, 3]
}

df = pd.DataFrame(data)

# Set the correlation threshold
threshold = 0.8

# Calculate the correlation matrix
corr_matrix = df.corr().abs()

# Select upper triangle of correlation matrix
upper_tri = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(bool))

# Find columns with correlation above threshold
to_drop = [column for column in upper_tri.columns if any(upper_tri[column] > threshold)]

# Drop the features with high correlation
df_filtered = df.drop(columns=to_drop)

print("Original DataFrame:")
print(df)
print("\nFiltered DataFrame:")
print(df_filtered)

Original DataFrame:
   A   B  C   D
0  1   2  1  10
1  2   4  2   9
2  3   6  1   4
3  4   8  2   5
4  5  10  1   3

Filtered DataFrame:
   A  C
0  1  1
1  2  2
2  3  1
3  4  2
4  5  1